fastapi
uvicorn
opencv-python         # gunakan ini untuk akses kamera laptop
# opencv-python-headless  # aktifkan di server tanpa GUI jika perlu
scikit-learn
numpy
pillow
joblib
pydantic
requests
python-multipart
pandas