VITE_API_URL=http://127.0.0.1:3101/api/
VITE_HOST_WS=ws://127.0.0.1:3101/api/ws
VITE_HOST_HTTP=http://127.0.0.1:3101
VITE_HOST_ML=http://127.0.0.1:3102

VITE_APP_VERSION=1.0.0
VITE_APP_ENV=development
VITE_APP_DEBUG=true

VITE_APP_MAX_FILE_SIZE_MB=10

VITE_APP_CODE=MonSampahKNN
VITE_APP_NAME=Monitoring Sampah Berbasis Citra Digital (KNN)
VITE_APP_DESCRIPTION=Aplikasi web untuk monitoring sampah menggunakan pengenalan citra digital dengan metode K-Nearest Neighbors (KNN) untuk identifikasi dan klasifikasi sampah secara efisien.

VITE_APP_LOGO=/logo/original.svg
VITE_APP_LOGO_DARK=/logo/original.svg
VITE_APP_LOGO_LIGHT=/logo/original.svg