# Main
HOST=localhost
PORT=3101

# Config
DEBUG=true
DEBUG_TEST=true
DEBUG_SQL=false
DEBUG_STORAGE=false
DEBUG_STACK=false
ACCESS_LOG=false

# Storage
STORAGE_PATH="public/storage"
STORAGE_MAX_SIZE=5242880
STORAGE_ALLOW_FILE_TYPE=["image/png", "image/jpeg","image/jpg", "image/webp"]

# Token Test
TOKEN_ADMIN=17534820876792a9edff78a040f7a44a25dfd0046ab6
TOKEN_BARISTA=17534820876792a9edff78a040f7a44a25dfd0046ab6
TOKEN_PELANGGAN=17534820876792a9edff78a040f7a44a25dfd0046ab6

# DB
DATABASE_URL="mysql://root:dot@localhost:3306/2025_kedai_cofee"